<?xml version="1.0" encoding="UTF-8"?>
<launch> 

    <arg name="namespace"     default="siar"/>

    <param name="cmd_vel_file" 	value="$(find siar_plugins)/data/cmd_vel_file"/>
    <param name="vr_file" 	      value="$(find siar_plugins)/data/vr_file"/>
    <param name="va_file" 	      value="$(find siar_plugins)/data/va_file"/>
   
    <!--<env name="GAZEBO_MODEL_PATH" value="$(find siar_gazebo)/models:$(optenv GAZEBO_MODEL_PATH)"/>--> 

    <!--Spawn the Nodes to transform frames depth and image-->
  
    <arg name="pi/2" value="1.5707963267948966" />
    <arg name="optical_rotate" value="0 0 0 -$(arg pi/2) 0 -$(arg pi/2)" />
    <group ns="$(arg namespace)">
      <node pkg="tf" type="static_transform_publisher"      name="tf_siar_electronic_center"  
            args="0 0 0.224 0 0 0                   $(arg namespace)/base_link           $(arg namespace)/electronics_center 30"/>
      <node pkg="tf" type="static_transform_publisher"      name="tf_siar_front"              
            args="0.36 0.0 0.055 0.0 -0.03 0        $(arg namespace)/electronics_center  $(arg namespace)/front_link  30"/>
      <node pkg="tf2_ros" type="static_transform_publisher" name="tf_siar_front_link2"      	 
            args="$(arg optical_rotate)             $(arg namespace)/front_link 	     $(arg namespace)/front_depth_optical_frame" />  
      <node pkg="tf" type="static_transform_publisher"      name="tf_siar_back"               
            args="-0.36 0.0 0.055 3.141593 0.08 0   $(arg namespace)/electronics_center  $(arg namespace)/back_link 30"/>
      <node pkg="tf2_ros" type="static_transform_publisher" name="tf_siar_back_link2"	       
            args="$(arg optical_rotate)             $(arg namespace)/back_link 	     $(arg namespace)/back_depth_optical_frame "/>
      <node pkg="tf" type="static_transform_publisher"      name="tf_arm"                
            args="0.025 0 0 0 0 0                   $(arg namespace)/electronics_center  $(arg namespace)/arm 30"/>
      <node pkg="tf" type="static_transform_publisher"      name="tf_siar_ouster"             
            args="-0.15 0 0.42 0 0 0                $(arg namespace)/electronics_center  $(arg namespace)/os1_sensor 30"/>
      <node pkg="tf" type="static_transform_publisher"      name="tf_siar_thermal_optical"	   
            args="0.0 0.0 0.0 0.0 0.0 0.0           $(arg namespace)/arm_link_3          $(arg namespace)/thermal_optical_frame 30"/>
    </group>

    <!-- Spawn the models into Gazebo -->
    <!-- Spawn SIAR -->
    <arg name="xS" default="10"/>
    <arg name="yS" default="-15"/>
    <arg name="zS" default="0.2"/>
    <arg name="rollS" default="0"/>
    <arg name="pitchS" default="0"/>
    <arg name="yawS" default="2.4"/>
    <group ns="$(arg namespace)">
      <node name="spawn_siar" pkg="gazebo_ros" type="spawn_model" args="-file $(find siar_gazebo)/models/siar_model/siar_mb.sdf -sdf -model siar_mb 
      -x $(arg xS) -y $(arg yS) -z $(arg zS) 
      -R $(arg rollS) -P $(arg pitchS) -Y $(arg yawS)" output="screen" />
    </group>
    <!-- joy node -->
    <group ns="$(arg namespace)">
      <node respawn="true" pkg="joy" type="joy_node" name="joy" >
        <param name="dev" type="string" value="/dev/input/js0" />
        <param name="deadzone" value="0.12" />
      </node>
    </group>

    <!-- siar_Joy -->
    <include file="$(find siar_plugins)/launch/siar_teleop_joy_simulation.launch">
      <arg name="namespacejoy" value="$(arg namespace)"/>
    </include>

    <!-- MUX for cmd_vel -->
    <rosparam command="load" file="$(find siar_gazebo)/cfg/twist_mux.yaml" ns="$(arg namespace)/twist_mux"/>
    <rosparam command="load" file="$(find siar_gazebo)/cfg/locks_mux.yaml" ns="$(arg namespace)/twist_mux"/>
    <group ns="$(arg namespace)">   
      <node pkg="twist_mux" type="twist_mux" name="twist_mux">
          <remap from="cmd_vel_out" to="cmd_vel"/>
      </node>
    </group>
  

</launch>