<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <arg name="world" default="empty"/> 
    <arg name="paused" default="true"/>
    <arg name="use_sim_time" default="true"/>
    <arg name="gui" default="true"/>
    <arg name="headless" default="false"/>
    <arg name="debug" default="false"/>

  <env name="GAZEBO_MODEL_PATH" value="$(find siar_gazebo)/models:$(optenv GAZEBO_MODEL_PATH)"/>

  <!--Spawn the Nodes to transform frames depth and image-->
  
  <arg name="pi/2" value="1.5707963267948966" />
  <arg name="optical_rotate" value="0 0 0 -$(arg pi/2) 0 -$(arg pi/2)" />
  <node pkg="tf2_ros" type="static_transform_publisher" name="front_middle_base_link2" 	args="$(arg optical_rotate) asusXtion_frontMiddle_link 	camera_link_front_middle" />  
  <node pkg="tf2_ros" type="static_transform_publisher" name="front_right_base_link2" 	args="$(arg optical_rotate) asusXtion_frontRight_link 	camera_link_front_right "/>
  <node pkg="tf2_ros" type="static_transform_publisher" name="front_left_base_link2" 	args="$(arg optical_rotate) asusXtion_frontLeft_link 	camera_link_front_left "/>
  <node pkg="tf2_ros" type="static_transform_publisher" name="back_middle_base_link2"	args="$(arg optical_rotate) asusXtion_backMiddle_link 	camera_link_back_middle "/>
  <node pkg="tf2_ros" type="static_transform_publisher" name="back_right_base_link2" 	args="$(arg optical_rotate) asusXtion_backRight_link 	camera_link_back_right" />
  <node pkg="tf2_ros" type="static_transform_publisher" name="back_left_base_link2" 	args="$(arg optical_rotate) asusXtion_backLeft_link 	camera_link_back_left" 	/>
  <node pkg="tf2_ros" type="static_transform_publisher" name="top_middle_base_link2" 	args="$(arg optical_rotate) asusXtion_topMiddle_link 	camera_link_top_middle" />

  <!-- Spawn a empty world with parameter set (siar_model.world) for an appropriate performance-->
  
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find siar_gazebo)/worlds/siar_model.world"/>
    <arg name="paused" value="$(arg paused)"/>
    <!--arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="gui" value="$(arg gui)"/>
    <arg name="headless" value="$(arg headless)"/>
    <arg name="debug" value="$(arg debug)"/-->
  </include>

  <!-- Spawn the models into Gazebo -->
  
  <node name="spawn_rampa" pkg="gazebo_ros" type="spawn_model" args="-file $(find siar_gazebo)/models/siar_ramp/ramp.sdf -sdf -model ramp" output="screen"/>
  <node name="spawn_siar" pkg="gazebo_ros" type="spawn_model" args="-file $(find siar_gazebo)/models/siar_model/siar.sdf -sdf -model siar" output="screen"/>
  <!--node name="spawn_words" pkg="gazebo_ros" type="spawn_model" args="-file $(find siar_gazebo)/models/siar_words/model.sdf -sdf -model words" output="screen"/-->
  <node name="spawn_sec_S1" pkg="gazebo_ros" type="spawn_model" args="-file $(find siar_gazebo)/models/T130_straight_5m_dark_brick/model.sdf -sdf -model T130_straight_5m_dark_brick" output="screen"/>
  <arg name="xX" default="5"/>
  <arg name="yX" default="0"/>
  <arg name="zX" default="0"/>
  <arg name="rollX" default="0"/>
  <arg name="pitchX" default="0"/>
  <arg name="yawX" default="0"/>
  <node name="spawn_sec_X" pkg="gazebo_ros" type="spawn_model" args="-file $(find siar_gazebo)/models/T130_X_5m_dark_brick/model.sdf -sdf -model T130_X_5m_dark_brick
	-x $(arg xX) -y $(arg yX) -z $(arg zX) 
	-R $(arg rollX) -P $(arg pitchX) -Y $(arg yawX)" output="screen"/>
  <arg name="xY" default="10"/>
  <arg name="yY" default="0"/>
  <arg name="zY" default="0"/>
  <arg name="rollY" default="0"/>
  <arg name="pitchY" default="0"/>
  <arg name="yawY" default="0"/>
  <node name="spawn_sec_Y" pkg="gazebo_ros" type="spawn_model" args="-file $(find siar_gazebo)/models/T130_Y_5m_5m_dark_brick/model.sdf -sdf -model T130_Y_5m_dark_brick 
        -x $(arg xY) -y $(arg yY) -z $(arg zY) 
	-R $(arg rollY) -P $(arg pitchY) -Y $(arg yawY)" output="screen"/>
  <arg name="x2" default="15"/>
  <arg name="y2" default="0"/>
  <arg name="z2" default="0"/>
  <arg name="roll2" default="0"/>
  <arg name="pitch2" default="0"/>
  <arg name="yaw2" default="0"/>
  <node name="spawn_sec_S2" pkg="gazebo_ros" type="spawn_model" args="-file $(find siar_gazebo)/models/T130_straight_5m_dark_brick/model.sdf -sdf -model T130_straight_5m_dark_brick2
	-x $(arg x2) -y $(arg y2) -z $(arg z2) 
	-R $(arg roll2) -P $(arg pitch2) -Y $(arg yaw2)"/>
  <arg name="x3" default="20"/>
  <arg name="y3" default="0"/>
  <arg name="z3" default="0"/>
  <arg name="roll3" default="0"/>
  <arg name="pitch3" default="0"/>
  <arg name="yaw3" default="0"/>
  <node name="spawn_sec_S3" pkg="gazebo_ros" type="spawn_model" args="-file $(find siar_gazebo)/models/T130_straight_5m_dark_brick/model.sdf -sdf -model T130_straight_5m_dark_brick3
	-x $(arg x3) -y $(arg y3) -z $(arg z3) 
	-R $(arg roll3) -P $(arg pitch3) -Y $(arg yaw3)"/>
  <arg name="x4" default="7.5"/>
  <arg name="y4" default="2.5"/>
  <arg name="z4" default="0"/>
  <arg name="roll4" default="0"/>
  <arg name="pitch4" default="0"/>
  <arg name="yaw4" default="1.5708"/>
  <node name="spawn_sec_S4" pkg="gazebo_ros" type="spawn_model" args="-file $(find siar_gazebo)/models/T130_straight_5m_dark_brick/model.sdf -sdf -model T130_straight_5m_dark_brick4
	-x $(arg x4) -y $(arg y4) -z $(arg z4) 
	-R $(arg roll4) -P $(arg pitch4) -Y $(arg yaw4)"/>
  <arg name="x5" default="7.5"/>
  <arg name="y5" default="-7.5"/>
  <arg name="z5" default="0"/>
  <arg name="roll5" default="0"/>
  <arg name="pitch5" default="0"/>
  <arg name="yaw5" default="1.5708"/>
  <node name="spawn_sec_S5" pkg="gazebo_ros" type="spawn_model" args="-file $(find siar_gazebo)/models/T130_straight_5m_dark_brick/model.sdf -sdf -model T130_straight_5m_dark_brick5
	-x $(arg x5) -y $(arg y5) -z $(arg z5) 
	-R $(arg roll5) -P $(arg pitch5) -Y $(arg yaw5)"/>
  
   <!-- joy node -->
  <node respawn="true" pkg="joy" type="joy_node" name="joy" >
    <param name="dev" type="string" value="/dev/input/js1" />
    <param name="deadzone" value="0.12" />
  </node>

 <!-- siar_Joy -->
  <include file="$(find siar_plugins)/launch/siar_joy.launch"/>

</launch>

