<?xml version="1.0" ?>
  <robot name="tower">
    <static>true</static>
    
   <link name="link">
      <collision name="collision">
        <origin rpy="0 0 0" xyz="21.5 22 5"/>
        <geometry>
            <box size="4 4 10"/>
        </geometry>
      </collision>

      <visual name="visual">
        <origin rpy="0 0 0" xyz="21.6 22.5 0"/>
        <geometry>
            <!-- <mesh filename="package://siar_gazebo/models/tower_1/mesh/tower_not_3.dae"/> -->
            <box size="4 4 10"/>  
        </geometry>
      </visual>
    </link>
  </robot>
