<?xml version="1.0" encoding="UTF-8"?>
<launch> 

  <arg name="namespacejoy"  default="siar"/>

  <group ns="$(arg namespacejoy)">

    <node pkg="siar_driver" type="mbzirc_teleop_joy" name="siar_joy_plugin" output="screen" >
      <remap from="cmd_vel" to="user_cmd_vel"/>
    </node>
    
  </group>  
</launch>
